# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\cyril\Nextcloud\Documents\FHNW\Semester_3\B-LS-MI 021 Software Engineering\Konfigurationsmanagement, Git, Maven\jfreechart-histogram-demo\jfreechart-histogram-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
